#title {color: rebeccapurple;}
#container {font-family: Arial, Helvetica, sans-serif;}
#a1 {color: aqua;}
#a2 {color: red;}
#a3 {color: green;}
#a4 {color: blue;}
#a5 {color: chocolate;}
#a6 {color: darkcyan;}
#a7 {color: darkmagenta;}
#a8 {color: deeppink;}
#a9 {color: teal;}
#a10{color: darkorange;}
#a11{color:yellow;}
#a12{color:violet;}
#a13{color:tomato;}
#a14{color:darkblue;}
#a15{color:turquoise;}
#a16{color:purple};
#a17{color:darkgoldenrod}
iframe{
    width: 1000px;
    height: 500px;
}
#logo{
    width: 1000px;
    height: 500px;
}