#title {color: rebeccapurple;}
#a1 {color: aqua;}
#a2 {color: red;}
#a3 {color: green;}
#a4 {color: blue;}
#a5 {color: chocolate;}
#a6 {color: darkcyan;}
#a7 {color: darkmagenta;}
#a8 {color: deeppink;}